.searchbox {
  width: 500px !important;
  margin: auto;
  margin-bottom: 15px;
}
.newItem {
  width: 600px;
  margin: auto;
  margin-bottom: 15px;
}
.label {
  display: flex;
  flex: 1;
  align-items: center;
}
.input {
  flex: 4;
}
.date {
}
